# CLI UI
rich==13.3.1
shellingham~=1.5.0
typer~=0.7.0
colorama==0.4.6
coloredlogs~=15.0.1

#
pyyaml~=6.0

# 子域名
mmh3~=3.0
httpx~=0.23.0
parsel==1.7.0
tldextract~=3.4.0
cdx_toolkit~=0.9.34
dnspython==2.3.0

IPy~=1.1

# 数据库
tinydb~=4.7.0

# 主机发现
scapy~=2.5.0

# 第三方模块
wafw00f~=2.2.0
dirsearch~=0.4.3

# 生成报告
jinja2~=3.1.2


