rich~=13.3.3
shellingham~=1.5.0
typer~=0.7.0
pyyaml~=6.0
pymmh3~=0.0.5
httpx~=0.23.0
parsel~=1.7.0
ping3~=4.0.4
eventlet~=0.33.3
tinydb~=4.7.0
tldextract~=3.4.0
IPy~=1.1
scapy~=2.5
jinja2~=3.1.2
qqwry-py3~=1.2.1
dnspython~=2.3.0
wafw00f~=2.2.0
