<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JWS-CLI 扫描报告</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 layui.css -->
<link href="static/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="margin: 0 auto; max-width: 1140px;">
  <!-- 导航栏 -->
  <ul class="layui-nav">
    <li class="layui-nav-item layui-this"><p>JWS-CLI 扫描报告</p></li>
  </ul>
  <blockquote class="layui-elem-quote">注意：请勿开展未授权的渗透攻击行为，本工具仅用于合法安全测试。</blockquote>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>{{ target }}</legend>
    </fieldset>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">子域名</li>
            <li>域名资产</li>
            <li>CDN识别</li>
            <li>IP端口</li>
            <li>端口资产</li>
            <li>C段资产</li>
            <li>POC结果</li>
        </ul>
        <div class="layui-tab-content" style="height: 100%;">
            <div class="layui-tab-item layui-show"><table class="layui-hide" id="sub"></table></div>
            <div class="layui-tab-item"><table class="layui-hide" id="sub_web"></table></div>
            <div class="layui-tab-item"><table class="layui-hide" id="cdn"></table></div>
            <div class="layui-tab-item"><table class="layui-hide" id="port"></table></div>
            <div class="layui-tab-item"><table class="layui-hide" id="port_web"></table></div>
            <div class="layui-tab-item"><table class="layui-hide" id="cidr_web"></table></div>
            <div class="layui-tab-item"><table class="layui-hide" id="poc"></table></div>
        </div>
    </div>


</div>

<!-- 注意：项目正式环境请勿引用该地址 -->
<!-- 引入 layui.js -->
<script src="static/layui/layui.js"></script>
<script>
    layui.use(['table', 'element'], function(){
        const $ = layui.jquery, table = layui.table;

        {% if data['valid_sub'] %}
            // 表格：域名
            table.render({
                elem: '#sub',
                data: {{ data['valid_sub'] }},
                cols: [[
                    {field:'subdomain', title: '子域名'},
                    {field:'method', title: '方法'},
                    {field:'ip', title: 'IP'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

        {% if data['valid_sub_web'] %}
            // 表格：指纹识别
            table.render({
                elem: '#sub_web',
                data: {{ data['valid_sub_web'] }},
                cols: [[
                    {field:'url', title: '链接'},
                    {field:'cms', title: '指纹'},
                    {field:'title', title: '标题'},
                    {field:'code', title: '响应码'},
                    {field:'ico_hash', title: '图标哈希值'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

        {% if data['valid_cdn'] %}
            // 表格：CDN识别
            table.render({
                elem: '#cdn',
                data: {{ data['valid_cdn'] }},
                cols: [[
                    {field:'domain', title: '域名'},
                    {field:'ip', title: 'IP'},
                    {field:'cdn', title: 'CDN'},
                    {field:'address', title: '物理地址'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

        {% if data['valid_port'] %}
            // 表格：端口扫描
            table.render({
                elem: '#port',
                data: {{ data['valid_port'] }},
                cols: [[
                    {field:'target', title: '目标'},
                    {field:'port', title: '端口'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

        {% if data['valid_port_web'] %}
            // 表格：端口资产
            table.render({
                elem: '#port_web',
                data: {{ data['valid_port_web'] }},
                cols: [[
                    {field:'url', title: '链接'},
                    {field:'cms', title: '指纹'},
                    {field:'title', title: '标题'},
                    {field:'code', title: '响应码'},
                    {field:'ico_hash', title: '图标哈希值'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

        {% if data['valid_cidr_web'] %}
            // 表格：端口资产
            table.render({
                elem: '#cidr_web',
                data: {{ data['valid_cidr_web'] }},
                cols: [[
                    {field:'url', title: '链接'},
                    {field:'cms', title: '指纹'},
                    {field:'title', title: '标题'},
                    {field:'code', title: '响应码'},
                    {field:'ico_hash', title: '图标哈希值'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

        {% if data['valid_poc'] %}
            // 表格：POC结果
            table.render({
                elem: '#poc',
                data: {{ data['valid_poc'] }},
                cols: [[
                    {field:'id', title: '名称'},
                    {field:'severity', title: '风险等级'},
                    {field:'poc', title: 'POC'},
                ]],
                page: true,
                limit: 50
            });
        {% endif %}

    });

</script>

</body>
</html>